<!-- Committees -->

<div id="committees" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>07</span>
      </div>
      <h2 class="entry-title">Committees</h2>
    </div>
    <div class="section-content-holder left">
      <div class="content-wrapper">
        <h1>Program committee</h1>
        <ul>
          {% for member in site.data.pc %}
          <li>{{ member.name }} — {{ member.affiliation }}</li>
          {% endfor %}
        </ul>

        <h1>Track chairs</h1>
        <h6>NLP+ASR+CAI (natural language processing, automatic speech recognition, and conversational AI)</h6>
        <ul>
          <li>Maciej		Piasecki</li>
        </ul>

        <h6>CV (computer vision)</h6>
        <ul>
        <li>Konrad		Wojciechowski</li>
        <li>Leszek		Chmielewski</li>
        <li>Marek		Gorgon</li>
        </ul>

        <h6>KE (knowledge engineering)</h6>
        <ul>
        <li>Agnieszka		Lawrynowicz</li>
        <li>Dariusz		Krol</li>
        <li>Grzegorz J.		Nalepa</li>
        </ul>

        <h6>ML (machine learning)</h6>
        <ul>
        <li>Ireneusz		Czarnowski</li>
        <li>Szymon		Jaroszewicz</li>
        </ul>

        <h6>PS+O (problem solving and optimization)</h6>
        <ul>
        <li>Jacek		Mańdziuk</li>
        <li>Jaroslaw		Arabas</li>
        <li>Krzysztof		Krawiec</li>
        </ul>

        <h6>UAI (uncertainty in artificial intelligence)</h6>
        <ul>
        <li>Leszek		Rutkowski</li>
        </ul>

        <h6>NI (neuroinformatics)</h6>
        <ul>
        <li>Wlodzislaw		Duch</li>
        </ul>

        <h6>RAS (robotics) and (A)utonomous (S)ystems)</h6>
        <ul>
        <li>Bogdan		Kwolek</li>
        <li>Cezary		Zieliński</li>
        <li>Piotr		Skrzypczynski</li>
        </ul>

        <h6>Young.AI (session for young researchers)</h6>
        <ul>
        <li>Paweł		Ksieniewicz</li>
        <li>Piotr		Brodka</li>
        <li>Tomasz		Kajdanowicz</li>
        </ul>

        <h6>AAI (Advances in AI — another AI's directions)</h6>
        <ul>
        <li>Jacek		Koronacki</li>
        <li>Przemyslaw		Kazienko</li>
        </ul>


        <h1>Organization committee</h1>
        <ul>
          {% for member in site.data.oc %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
