<!-- Committees -->

<div id="committees" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left">
            <div class="section-num">
                <span>07</span>
            </div>
            <h2 class="entry-title">Committees</h2>
        </div>
        <div class="section-content-holder left">
            <div class="content-wrapper">
                <div class="content-title-holder">
                    <p class="content-title">Skills</p>
                </div>
                <p>Fusce suscipit, orci eget lobortis sodales, velit nunc tristique metus, in tristique odio ante id sem. Etiam in quam et sapien bibendum mollis. Morbi eget velit eros, quis imperdiet arcusere perdan. Nunc lorem justo, pellentesque ac egestas quis.</p>
                <br>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:81%;">
                        <div class="progress_bar_title" style="color: #55B286">HTML</div>
                        <div class="progress_bar_percent_text" style="color: #55B286">81%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#32DB8A;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:93%;">
                        <div class="progress_bar_title" style="color: #E3A536">CSS</div>
                        <div class="progress_bar_percent_text" style="color: #E3A536">93%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#FFBB42;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:72%;">
                        <div class="progress_bar_title" style="color: #B24564">PSD</div>
                        <div class="progress_bar_percent_text" style="color: #B24564">72%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#E74C78;"></div>
                    </div>
                </div>
                <div class="progress_bar ">
                    <div class="progress_bar_field_holder" style="width:99%;">
                        <div class="progress_bar_title" style="color: #468ac7">DESIGN</div>
                        <div class="progress_bar_percent_text" style="color: #468ac7">99%</div>
                        <div class="progress_bar_field_perecent" style="background-color:#4C9EE7;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
