<!-- Committees -->

<div id="committees" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>07</span>
      </div>
      <h2 class="entry-title">Committees</h2>
    </div>
    <div class="section-content-holder left">
      <div class="content-wrapper">
        <h1>Program committee</h1>
        <ul>
          {% for member in site.data.pc %}
          <li>{{ member.name }} — {{ member.affiliation }}</li>
          {% endfor %}
        </ul>

        <h1>Organization committee</h1>
        <ul>
          {% for member in site.data.oc %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
