<!-- Congress -->
<div id="congress" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left">
            <div class="section-num">
                <span>01</span>
            </div>
            <h2 class="entry-title">PP-RAI'2019</h2>
        </div>
        <div class="section-content-holder right">
            <div class="content-wrapper">
                <div class="content-title-holder">
                    <p class="content-title">about</p>
                </div>
                <div>
                    The congress is a joint meeting of scientific organizations:<br>

                    <span style="color: #e54b76;"><strong>PSSI ·</strong></span> <span style="color:#727190;"><em>Polskie Stowarzyszenie Sztucznej Inteligencji</em></span><br>
                    <span style="color: #e54b76;"><strong>PTSN ·</strong></span> <span style="color:#727190;"><em>Polskie Towarzystwo Sieci Neuronowych</em></span><br>
                    <span style="color: #e54b76;"><strong>PL SIGML ·</strong></span> <span style="color:#727190;"><em>Polska Grupa Systemów Uczących się</em></span><br>
                    <span style="color: #e54b76;"><strong>IEEE SMC ·</strong></span> <span style="color:#727190;"><em>Polski Oddział IEEE SMC (Polish Chapter of the IEEE Systems, Man, and Cybernetics Society)</em></span><br>
                    <span style="color: #e54b76;"><strong>IEEE CIS ·</strong></span> <span style="color:#727190;"><em>Polski Oddział IEEE Computational Intelligence Society</em></span><br>

                    <h1>Cele zjazdu</h1>





                </div>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</div>
