<!-- Congress -->
<div id="congress" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>01</span>
      </div>
      <h2 class="entry-title">PP-RAI'2019</h2>
    </div>
    <div class="section-content-holder right">
      <div class="content-wrapper">
        <div class="content-title-holder">
          <p class="content-title">about</p>
        </div>
        <div>
          The congress is a joint meeting of scientific organizations:<br>

          <a href="http://pssi.agh.edu.pl/:pl:start"><span style="color: #e54b76;"><strong>PSSI ·</strong></span> <span style="color:#727190;"><em>Polskie Stowarzyszenie Sztucznej Inteligencji</em></span><br></a>
          <a href="http://www.ptsn.pcz.pl/"><span style="color: #e54b76;"><strong>PTSN ·</strong></span> <span style="color:#727190;"><em>Polskie Towarzystwo Sieci Neuronowych</em></span><br></a>
          <a href="http://www.cs.put.poznan.pl/sigml/"><span style="color: #e54b76;"><strong>PL SIGML ·</strong></span> <span style="color:#727190;"><em>Polska Grupa Systemów Uczących się</em></span><br></a>
          <a href="http://ieeesmc.am.gdynia.pl/"><span style="color: #e54b76;"><strong>IEEE SMC ·</strong></span> <span style="color:#727190;"><em>Polski Oddział IEEE SMC (Polish Chapter of the IEEE Systems, Man, and Cybernetics Society)</em></span><br></a>
          <a href="http://ieee.pl/?q=node%2F51"><span style="color: #e54b76;"><strong>IEEE CIS ·</strong></span> <span style="color:#727190;"><em>Polski Oddział IEEE Computational Intelligence Society</em></span><br></a>

          <br>

          Organizations supporting the Congress:<br>

          <a href="http://ieee.pl/?q=node%2F25"><span style="color: #e54b76;"><strong>IEEE Robotics and Automation Society Polish Section</strong></span><br></a>
          <a href="http://www.netscisociety.net/local-chapters.html"><span style="color: #e54b76;"><strong>Network Science Society (Polish Chapter)</strong></span><br></a>
          <a href="http://www.tpo.org.pl/"><span style="color: #e54b76;"><strong>Towarzystwo Przetwarzania Obrazów</strong></span><br></a>
          <a href="http://www.humboldt.org.pl/pl/"><span style="color: #e54b76;"><strong>Societas Humboldtiana Polonorum</strong></span><br></a>
          <a href="https://www.incf.org/about"><span style="color: #e54b76;"><strong>Polski Węzeł International Neuroinformatics Coordination Facility</strong></span><br></a>
          <br>

        </div>
      </div>
      <!--
      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/2/1/4/6/c/2146c7c85435de3943c645a744fb2906a8edae61-20181018103548.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      -->
      <div class="content-wrapper">
        <h1>Important dates</h1>
        <!--
        zgłoszenie prac  do 18 sierpnia 2019 r.
decyzja o akceptacji/odrzuceniu  16 września 2019 r.
rejestracja 1 października 2019 r.
-->

        <div class="blog-holder block center-relative">

          <article class="relative blog-item-holder center-relative">
            <div class="num">9&nbsp;September&nbsp;2019</div>
            <h3 class="entry-title-b">
              <a>paper submission</a>
            </h3>
            <div class="clear"></div>
          </article>
          <article class="relative blog-item-holder center-relative">
            <div class="num">23&nbsp;September&nbsp;2019</div>
            <h3 class="entry-title-b">
              <a>acceptance decision</a>
            </h3>
            <div class="clear"></div>
          </article>
          <article class="relative blog-item-holder center-relative">
            <div class="num">1-10&nbsp;October&nbsp;2019</div>
            <h3 class="entry-title-b">
              <a>registration for authors</a>
            </h3>
            <div class="clear"></div>
          </article>
          </div>
      </div>
      <div class="content-wrapper">
        <h1>Goals of the congress</h1>

        <div class="blog-holder block center-relative">

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <h3 class="entry-title-b">
              <a>PP-RAI aims to bring together researches and to provide a national forum for the sharing, exchange, presentation and discussion of original research results in different areas of artificial intelligence.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <h3 class="entry-title-b">
              <a>Creation of a platform for discussion of important Polish AI/ML research environments and the following disciplines.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">03</div>
            <h3 class="entry-title-b">
              <a>Discussion on the new forms of organization and cooperation of research teams, reference to the growth of interest in AI and pointing the strategic directions of research and applications, including interdisciplinary areas.</a>
            </h3>
            <div class="clear"></div>
          </article>


          <article class="relative blog-item-holder center-relative">
            <div class="num">04</div>
            <h3 class="entry-title-b">
              <a>Indication of the need for changes in cooperation of the scientific community with business partners and state research institutions.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <!--

          <article class="relative blog-item-holder center-relative">
            <div class="num">03</div>
            <h3 class="entry-title-b">
              <a>Establishment of a coordination council of major organizations to respond to current needs and support activities for new editions of congress.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">04</div>
            <h3 class="entry-title-b">
              <a>Preparation of the next edition of the PP-RAI Congress in 2020.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">05</div>
            <h3 class="entry-title-b">
              <a>Creating a report on Polish research centers and prospects for their development, based on the results of the panel discussions of the PP-RAI Congress.</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">06</div>
            <h3 class="entry-title-b">
              <a>Paying attention to the need for a different way of carrying out research and implementation of AI, especially in the context of applying for European projects.</a>
            </h3>
            <div class="clear"></div>
          </article>
          -->

        </div>



      </div>

    </div>
    <div class='clear'></div>
  </div>
</div>
