<!-- Home -->

<div class="section intro-page">
    <div class="block content-1170 center-relative center-text">
        <img class="top-logo" src="pp-images/logo.svg" alt="Boxus" />
        <br>
        <h1 class="big-title">PP-RAI'2019</h1>
        <p class="title-place">16-18.10.2019 — Wrocław</p>
        <p class="title-desc">Polskie Porozumienie na rzecz Rozwoju Sztucznej Inteligencji</p>
    </div>
    <div class="sponsors full-width">
      <a href="https://pwr.edu.pl"><img src="/images/pwr.png"></a>
      <a href="http://pssi.agh.edu.pl/:pl:start"><img src="/images/pssi.png"></a>
      <a href="http://www.ptsn.pcz.pl"><img src="/images/ptsn.png"></a>
      <a href="http://www.cs.put.poznan.pl/sigml/"><span>Polska Grupa Systemów Uczących się PL SIGML</span></a>
      <a href="http://ieeesmc.am.gdynia.pl"><img src="/images/smc.jpg"></a>
      <a href="http://ieee.pl/?q=node/51"><img src="/images/cis.png"></a>
    </div>
    <div class='clear'></div>
</div>
