<!-- Menu -->
<div class="menu-wrapper center-relative">
    <nav id="header-main-menu">
        <div class="mob-menu">MENU</div>
        <ul class="main-menu sm sm-clean">
            <li><a href="#congress">Congress</a></li>
            <li><a href="#prelegents">Prelegents</a></li>
            <li><a href="#program">Program</a></li>
            <li><a href="#submission">Submission</a></li>
            <li><a href="#registration">Registration</a></li>
            <li><a href="#informations">Informations</a></li>
            <li><a href="#committees">Committees</a></li>
        </ul>
    </nav>
</div>
