<!-- Prelegents -->
<div id="prelegents" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder right">
      <div class="section-num">
        <span>02</span>
      </div>
      <h2 class="entry-title">prelegents</h2>
    </div>
    <div class="section-content-holder left">

      <div class="content-wrapper">
        <h2>The list of speakers will be published soon.</h2>
      </div>

      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/8/d/2/d/1/8d2d174ba019747dab49e76a20dfcde67f862c8e-20181019095252.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!--
                <div class="relative team team1">
                      <div class="member-content-holder">
                          <h4 class="member-name">Prof. dr hab. Włodzisław Duch, INNS Fellow</h4>
                          <p class="member-position">Laboratorium Neurokognitywne ICNT UMK Wydział Fizyki i Astronomii Uniwersytetu Mikołaja Kopernika w Toruniu</p>
                          <div class="member-content">
                              Włodzisław Duch jest profesorem zwyczajnym, kierownikiem Laboratorium Neurokognitywnego w Interdyscyplinarnym Centrum Nowoczesnych Technologii, oraz pracownikiem Katedry Informatyki Stosowanej na Uniwersytecie Mikołaja Kopernika w Toruniu. Pracował też na Wydziale Inżynierii Komputerowej (School of Computer Engineering), Uniwersytetu Technologiczego Nanyang (Nanyang Technological University) w Singapurze jako Nanyang Visiting Professor i visiting professor (2003-2012).<br>
                          </div>
                      </div>
                      <div class="member-image-holder">
                          <img src="http://www.efni.pl/panelist/GetPanelistFullPhoto/wlodzislaw-duch" alt="">
                      </div>
                    <div class="clear"></div>
                </div>
                <div class="relative team team1">
                      <div class="member-content-holder">
                          <h4 class="member-name">Prof. dr hab. inż. Jacek Mańdziuk</h4>
                          <p class="member-position">Wydział Matematyki i Nauk Informacyjnych Politechniki Warszawskiej</p>
                          <div class="member-content">
                              Prof. Jacek Mańdziuk, ukończył z wyróżnieniem studia na Wydziale Fizyki Technicznej i Matematyki Stosowanej Politechniki Warszawskiej (FTiMS PW) w 1989 roku, na którym uzyskał także stopień doktora nauk matematycznych w roku 1993. Habilitował się w dyscyplinie informatyka w Instytucie Badań Systemowych PAN w 2000 roku. Tytuł profesora nauk technicznych otrzymał w roku 2011. Z Wydziałem FTiMS a następnie MiNI (Matematyki i Nauk Informacyjnych) PW jest związany od 1989 roku, obecnie jako profesor zwyczajny, Kierownik Studiów Doktoranckich w dyscyplinie informatyka oraz Kierownik Zakładu Sztucznej Inteligencji i Metod Obliczeniowych.<br>
                          </div>
                      </div>
                      <div class="member-image-holder">
                          <img src="https://i1.rgstatic.net/ii/profile.image/272178092441616-1441903722428_Q512/Jacek_Mandziuk.jpg" alt="">
                      </div>
                    <div class="clear"></div>
                </div>
                <div class="relative team team1">
                      <div class="member-content-holder">
                          <h4 class="member-name">Dr hab. inż. Piotr Skrzypczyński, prof. PP.</h4>
                          <p class="member-position">Instytut Automatyki i Inżynierii Informatycznej, Politechnika Poznańska</p>
                          <div class="member-content">
                              Dr hab inż. Piotr Skrzypczyński jest profesorem nadzwyczajnym Politechniki Poznańskiej, kierownikiem Zakładu Automatyki i Robotyki w Instytucie Automatyki i Inżynierii Informatycznej (IARiII). Absolwent kierunku Automatyka i Robotyka, uzyskał stopień doktora (1997) oraz doktora habilitowanego (2007) w zakresie Robotyki na Wydziale Elektrycznym Politechniki Poznańskiej. Od roku 1997 kieruje Laboratorium Robotów Mobilnych IARiII. Kierował kilkoma projektami badawczymi dotyczącymi robotów autonomicznych oraz zagadnień percepcji otoczenia i wnioskowania o scenie działania robotów.<br>
                          </div>
                      </div>
                      <div class="member-image-holder">
                          <img src="https://pp-rai.cs.put.poznan.pl/images/7/5/1/b/d/751bd9f304f103d6f298366c1fe65ad631f644da-piotr-skrzypczynski.jpeg" alt="">
                      </div>

                    <div class="clear"></div>
                </div>
                -->
    </div>
    <div class='clear'></div>
  </div>
</div>
