<!-- Program -->
<div id="program" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>03</span>
      </div>
      <h2 class="entry-title">program</h2>
    </div>
    <div class="section-content-holder left">
      <div class="content-wrapper">
        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Czwartek 18 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>

        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Piątek 19 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>

        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Sobota 20 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>

      </div>
      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/d/c/b/b/a/dcbba845b609b04ee22f598f8cc62b0899cea369-20181018103615.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
