<!-- Program -->
<div id="program" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>03</span>
      </div>
      <h2 class="entry-title">program</h2>
    </div>
    <div class="section-content-holder left">
      <div class="content-wrapper">
        <h4>The conference will consist of the following research tracks:</h4>


        <ul>
          <li>— NLP+ASR+CAI (natural language processing, automatic speech recognition, and conversational AI)</li>
          <li>— CV (computer vision)</li>
          <li>— KE (knowledge engineering)</li>
          <li>— ML (machine learning)</li>
          <li>— PS+O (problem solving and optimization)</li>
          <li>— UAI (uncertainty in artificial intelligence)</li>
          <li>— NI (neuroinformatics)</li>
          <li>— R (robotics)</li>
          <li>— Young.AI (session for young researchers)</li>
          <li>— General.AI (another AI's directions)</li>
        </ul>
        <br>
      </div>

      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/0/a/f/5/5/0af5539fc901211f8f81cb2f0ec68715dd57853e-20181018105534.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
                  <!--
      <div class="content-wrapper">
        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Czwartek 18 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>

        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Piątek 19 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>

        <div class="blog-holder block center-relative">
          <div class="latest-post-bottom-text">
            <a>Sobota 20 października</a>
          </div>

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">9.30-10.00</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Rejestracja oraz powitalna kawa</a>
            </h3>
            <div class="clear"></div>
          </article>



        </div>
https://pp-rai.cs.put.poznan.pl/images/8/d/2/d/1/8d2d174ba019747dab49e76a20dfcde67f862c8e-20181019095252.jpeg
      </div>
              -->
    </div>

    <div class="clear"></div>
  </div>
</div>
