<!-- Registration -->
<div id="registration" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder left">
      <div class="section-num">
        <span>
          05
        </span>
      </div>
      <h2 class="entry-title">registration</h2>
    </div>
    <div class="section-content-holder right">
      <div class="content-wrapper">

        <p>
          The conference fee for PP-RAI 2019 for both authors and participants who are not authors of papers is PLN 260 and should be completed by October 10, 2019. It includes two dinners, two lunches, coffee breaks and participation in the conference itself.
          </p>


            <center>
              <h2>
              <a href="https://forms.gle/wHJnFngKZyLRmUcX8">Link to registration form.</a>
              </h2>
              </center>
      </div>

      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/2/1/4/6/c/2146c7c85435de3943c645a744fb2906a8edae61-20181018103548.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!--
      <div class="content-wrapper">
        <div class="one_half ">
          <p>Unfortunately, registration is not open yet. Consectetur adipisicing elit sed eiusmod tempor incididunt ut dolore magna labore eiusmod. Lorem ipsum dolor sit amet consectetur est adipisicing elit, sed do eiusmod tempor.</p>
          <br>
          <p><strong><span style="color: #e64b77;">Incididunt ut dolore</span></strong> magna labore eiusmod. Dolor sit amet consectetur est adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="one_half last">
          <div class="contact-form">
            <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
            <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
            <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
            <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
            <p><input type="submit" onClick="SendMail()" value="SEND"></p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      -->
    </div>

    <!--
    <div class="section-content-holder left">
      <div class="content-wrapper">
        <div class="blog-holder block center-relative">

          <article class="relative blog-item-holder center-relative">
            <div class="num">01</div>
            <div class="info">
              <div class="author vcard ">Robert Williams</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#">BRANDING</a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">02</div>
            <div class="info">
              <div class="author vcard ">Jim Davis</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#">TECH</a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Incididunt ut dolore magna labore eiusmod lorem ipsum dolor sit</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">03</div>
            <div class="info">
              <div class="author vcard ">Ann Peterson</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#">CRAFTING</a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Labore eiusmod lorem ipsum dolor sit amet nunc labore incididunt ut dolore</a>
            </h3>
            <div class="clear"></div>
          </article>

          <article class="relative blog-item-holder center-relative">
            <div class="num">04</div>
            <div class="info">
              <div class="author vcard ">Robert Williams</div>
              <div class="cat-links">
                <ul>
                  <li><a href="#">CRAFTING</a></li>
                </ul>
              </div>
            </div>
            <h3 class="entry-title">
              <a href="#">Dolor sit amet nunc labore incididunt ut dolore magna labore eiusmod</a>
            </h3>
            <div class="clear"></div>
          </article>

          <div class="latest-post-bottom-text">
            <a href="#">GO TO BLOG</a>
          </div>
        </div>

      </div>
    </div>
    -->
    <div class="clear"></div>
  </div>

</div>
