<!-- Program -->
<div id="submission" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder right">
      <div class="section-num">
        <span>04</span>
      </div>
      <h2 class="entry-title">submission</h2>
    </div>
    <div class="section-content-holder left">

      <div class="content-wrapper">
        <p>
        All submissions will be refereed by experts in the field based on originality, significance, quality and clarity. Every submitted paper will be reviewed by at least two members of the Program Committee.</p>

        <p>Papers must be prepared according to the <a href="https://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0">LNCS-LNAI style template</a> and should ideally not exceed 4 pages, including figures and bibliography.</p>

        <p>Authors should consult <a href="ftp://ftp.springernature.com/cs-proceeding/svproc/guidelines/Springer_Guidelines_for_Authors_of_Proceedings.pdf">Springer’s authors’ guidelines</a> and use their proceedings templates, either for <a href=ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip">LaTeX</a> or for <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/word/splnproc1703.zip">Word</a>, for the preparation of their papers. We encourage authors to include their <a href="https://goo.gl/hbsa4D">ORCIDs</a> in their papers.</p>

        <p>The conference proceedings, included 4 page papers, will be published by <strong>Department of Systems and Computer Networks, Wroclaw University of Science and Technology</strong> in online version only with ISBN.</p>


      </div>

      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/4/5/d/d/4/45dd4809ba6aeb657458fca0cbc3dedeed9e628d-20181018095226.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>


    <div class="clear"></div>
  </div>
</div>
