<!-- Program -->
<div id="submission" class="section">
  <div class="block content-1170 center-relative">
    <div class="section-title-holder right">
      <div class="section-num">
        <span>04</span>
      </div>
      <h2 class="entry-title">submission</h2>
    </div>
    <div class="section-content-holder left">

      <div class="content-wrapper">
        <h2>Details on submissions will be provided soon.</h2>
      </div>

      <div class="full-width ">
        <div class="image-slider-wrapper relative img aboutImage">
          <div class="caroufredsel_wrapper">
            <ul id="aboutImage" class="image-slider slides">
              <li><img src="https://pp-rai.cs.put.poznan.pl/images/4/5/d/d/4/45dd4809ba6aeb657458fca0cbc3dedeed9e628d-20181018095226.jpeg" alt=""></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>


    <div class="clear"></div>
  </div>
</div>
